.card-area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    width: 200px;
    min-height: 250px;
    background-color: grey;
    color: white;
    font-family: Arial;
    padding: 0px;
}
.card:hover{
    border: 2px solid white ;
}
.time{
    background-color: black;
    color: white;
    position: absolute;
    padding: 4px 8px;

}
.infos{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;

}
.info{
    flex: 1;
    text-align: start;
    padding: 0px;
    background: grey;

}
.bid{
    text-align: right;
}
.img{
    height:180px;
    border-radius: 200000px;
}
.shoe{
    height: 180px;
    width: 200px;
    border-radius: 10px;
}
.price{
    font-size: 20px;
}